.prjc-column {
  flex-grow: 1;
  display: flex;
  position: relative;
  text-decoration: none;
}

.prjc-column:not(:last-child) {
  /* border-right: var(--prj-line-size) solid var(--color-2); */
}

.prjc-column:not(:last-child)::after {
  position: absolute;
  content: "";
  width: var(--prj-line-size);
  background-color: red;
  background-color: var(--color-2);
  height: 100%;
  left: 100%;
  bottom: 0;
}

.prjc-column:first-child {
  /* border-left: 0.1rem solid var(--color-2); */
}

.prjc-column:last-child {
  /* border-right: 0.1rem solid var(--color-2); */
}

.prjc-column {
  padding: 1rem;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.prjc-column::before {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-weight: 700;
  font-family: var(--font-1);
  font-size: 10rem;
  -webkit-text-stroke: 0.006rem #ffffffa1;
  color: transparent;
}

.prjc-column-bottom {
  display: flex;
  margin-top: 20rem;
  overflow: hidden;
}

.prjc-name-and-tools {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  /* background-color: red; */
}

.prjc-name {
  display: inline-block;
  margin-left: auto;
  position: relative;
}

.prjc-name::after {
  content: "Stevia";
  position: absolute;
  top: 110%;
  right: 0;

  font-weight: 700;
  font-size: 10rem;
  line-height: 100%;
  color: green;
}

.prjc-tools {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  padding-bottom: 0.5rem;
  /* gap: 1.5rem; */
}

.prjc-tool {
  vertical-align: middle;
  font-size: 1rem;
}

.prjc-tool {
  position: relative;
  display: flex;
  align-items: center;
}

.prjc-tool:not(:first-child) {
  margin-left: 2rem;
}

.prjc-tool:not(:first-child)::before {
  position: absolute;
  left: -1.2rem;
  content: "";
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: var(--color-primary);
}

/* Coulmn number */
[data-column-no="1"]::before {
  content: url("./../../../../public/assets/images/01.svg");
}
[data-column-no="2"]::before {
  content: url("./../../../../public/assets/images/02.svg");
}
[data-column-no="3"]::before {
  content: url("./../../../../public/assets/images/03.svg");
}
[data-column-no="4"]::before {
  content: url("./../../../../public/assets/images/04.svg");
}
[data-column-no="5"]::before {
  content: url("./../../../../public/assets/images/05.svg");
}
[data-column-no="6"]::before {
  content: url("./../../../../public/assets/images/06.svg");
}
[data-column-no="7"]::before {
  content: url("./../../../../public/assets/images/07.svg");
}
